<div class="container">
  <h1>ember-videojs</h1>
  <div class="row">
    <div class="col-12 mb-3">
      {{#videojs-player class="vjs-matrix" controls="false"
        lastPosition=(mut lastPosition)
        currPosition=(mut currPosition)
        maxPosition=(mut maxPosition)
        enableMaxPosition=true
      }}
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      {{/videojs-player}}
      L:{{lastPosition}}
      C:{{currPosition}}
      M:{{maxPosition}}
    </div>
    <div class="col-1 mb-3">
      {{#videojs-player}}
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      {{/videojs-player}}
    </div>
    <div class="col-2 mb-3">
      {{#videojs-player}}
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      {{/videojs-player}}
    </div>
    <div class="col-3 mb-x">
      {{#videojs-player}}
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      {{/videojs-player}}
    </div>
    <div class="col-4 mb-3">
      {{#videojs-player}}
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      {{/videojs-player}}
    </div>
    <div class="col-6 mb-3">
      {{#videojs-player}}
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
      {{/videojs-player}}
    </div>
  </div>



</div>
